<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.tvds.persistence.mysql.CompositeAlignedImageMapper">

    <resultMap id="BaseResultMap" type="org.csu.tvds.entity.mysql.CompositeAlignedImage">
        <id property="dbId" column="dbId" jdbcType="BIGINT"/>
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="inspectionSeq" column="inspectionSeq" jdbcType="VARCHAR"/>
        <result property="cameraNumber" column="cameraNumber" jdbcType="INTEGER"/>
        <result property="carriageId" column="carriageId" jdbcType="INTEGER"/>
        <result property="carriageNo" column="carriageNo" jdbcType="INTEGER"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="hasDefect" column="hasDefect" jdbcType="BOOLEAN"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="compositeUrl" column="compositeUrl" jdbcType="VARCHAR"/>
        <result property="compositeTime" column="compositeTime" jdbcType="TIMESTAMP"/>
        <result property="alignedUrl" column="alignedUrl" jdbcType="VARCHAR"/>
        <result property="alignTime" column="alignTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        dbId
        ,id,inspectionSeq,
        cameraNumber,carriageId,carriageNo,
        model,status,hasDefect,comment,compositeUrl,
        compositeTime,alignedUrl,alignTime,
        createTime,updateTime,isDeleted
    </sql>
    <update id="rollbackStatus">
        UPDATE composite_aligned_image
        SET status     = 0,
            carriageId = 0,
            model      = '未知',
            alignedUrl = null,
            alignTime  = null
    </update>
    <select id="selectDistinctDate" resultType="java.time.LocalDate">
        SELECT DISTINCT compositeTime
        FROM composite_aligned_image
        order by compositeTime
    </select>
    <select id="selectDistinctInspectionSeq" resultType="java.lang.String">
        SELECT DISTINCT inspectionSeq
        FROM composite_aligned_image
        order by inspectionSeq
    </select>
    <select id="selectDistinctDetectedInspectionSeq" resultType="java.lang.String">
        SELECT DISTINCT inspectionSeq
        FROM part_info
        WHERE status != 0
        order by inspectionSeq
    </select>
</mapper>
