<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.inheritance.persistence.mysql.NoticeMapper">

    <resultMap id="BaseResultMap" type="org.csu.inheritance.entity.mysql.Notice">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
        <result property="noticeType" column="notice_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        publish_time,notice_type
    </sql>
</mapper>
