<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.tvds.persistence.mysql.PartInfoMapper">

    <resultMap id="BaseResultMap" type="org.csu.tvds.entity.mysql.PartInfo">
        <id property="dbId" column="dbId" jdbcType="BIGINT"/>
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="partName" column="partName" jdbcType="VARCHAR"/>
        <result property="carriageNo" column="carriageNo" jdbcType="INTEGER"/>
        <result property="inspectionSeq" column="inspectionSeq" jdbcType="INTEGER"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="compositeId" column="compositeId" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="imageUrl" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="verifyStatusA" column="verifyStatusA" jdbcType="TINYINT"/>
        <result property="verifyStatusB" column="verifyStatusB" jdbcType="TINYINT"/>
        <result property="hasConflict" column="hasConflict" jdbcType="BOOLEAN"/>
        <result property="checkTime" column="checkTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        dbId
        ,id,partName,carriageNo,inspectionSeq,
        model,compositeId,imageUrl,
        status,verifyStatusA,verifyStatusB,hasConflict,checkTime,createTime,
        updateTime,isDeleted
    </sql>
    <delete id="deleteAll">
        DELETE
        FROM part_info
    </delete>
    <select id="selectDistinctDefectCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM part_info
        WHERE status = 1
    </select>
</mapper>
