<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.tvds.persistence.mysql.UserMapper">

    <resultMap id="BaseResultMap" type="org.csu.tvds.entity.mysql.User">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="regTime" column="reg_time" jdbcType="TIMESTAMP"/>
        <result property="isValid" column="is_valid" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,
        nickname,reg_time,is_valid
    </sql>
</mapper>
